---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h2 class="post-title" itemprop="name headline">{{ page.title }}</h2>
    <i class="post-meta">
		Posted on {{ page.date | date: "%b %-d, %Y" }}
		{% if page.author %}
			by
			<img
				src="{{ site.baseurl }}/assets/{{ page.author }}.jpg"
				alt="{{ page.author }}"
				width="40"
			/>
			<span
				itemprop="author"
				itemscope itemtype="http://schema.org/Person">
				<span
					itemprop="name">{{ page.author }}
				</span>
			</span>
		{% endif %}
	</i>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
